{% extends 'base.html' %}

        <section>
        {% block content %}
            <h1>Урок 3. Работа с представлениями и шаблонами</h1>
            <p>Доработаем задачу 8 из прошлого семинара про клиентов, товары и заказы.<br>
            Создайте шаблон для вывода всех заказов клиента и списком товаров внутри каждого заказа.<br>
            Подготовьте необходимый маршрут и представление.</p>

            <h3>Задание</h3>
            <p>Продолжаем работать с товарами и заказами.</p>
            <p>Создайте шаблон, который выводит список заказанных клиентом товаров из всех его заказов с сортировкой по времени:</p>
            <ul>
                <li>за последние 7 дней (неделю)</li>
                <li>за последние 30 дней (месяц)</li>
                <li>за последние 365 дней (год)</li> 
            </ul>
            <p>Товары в списке не должны повторятся.</p>
        {% endblock %}
        </section>
    </div>

</body>
</html>